body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
    padding: 40px;
}

textarea {
    width: 60%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

